<section class="stories-container">
  <div 
    *ngFor="let story of stories" 
    class="story" 
    [ngClass]="{'close-friends': story.closeFriends}"
    [routerLink]="['/profile', story.user]">
    
    <img [src]="story.avatar" [alt]="story.user" />
    <span>{{ story.user }}</span>
  </div>
</section>

<div class="feed-layout">
  <main class="feed">
    <article *ngFor="let post of posts" class="post">
    
      <header class="post-header">
        <div class="post-user">
          <img class="avatar" [src]="post.avatar" [alt]="post.user" />
          <a [routerLink]="['/profile', post.user]" class="username">
            {{ post.user }}
            <img *ngIf="post.verified" src="assets/instagram-verified-badge.png" alt="Verificado" class="verified-badge" />
          </a>
        </div>
        <i class="fa fa-ellipsis-h"></i>
      </header>

      <img class="post-image" [src]="post.image" [alt]="post.description" />

      <section class="post-actions">
        <i
          class="fa-heart fa-solid like-icon"
          [class.liked]="post.liked"
          (click)="toggleLike(post)"
        ></i>
        <i class="fa-regular fa-comment"></i>
        <i class="fa-regular fa-paper-plane"></i>
        <i class="fa-regular fa-bookmark save-icon"></i>
      </section>

      <section class="post-description">
        <a [routerLink]="['/profile', post.user]" class="username">
          {{ post.user }}
          <img *ngIf="post.verified" src="assets/instagram-verified-badge.png" alt="Verificado" class="verified-badge" />
        </a>
        {{ post.description }}
      </section>

      <section class="post-comments">
        <div *ngFor="let comment of post.comments" class="comment">
          <a [routerLink]="['/profile', comment.username]" class="username">{{ comment.username }}</a>: {{ comment.text }}
        </div>

        <div class="add-comment">
          <input 
            #commentInput 
            type="text" 
            placeholder="Adicionar um comentário..." 
            (keydown)="onCommentKeyDown($event, post, commentInput)"
          />
        </div>
      </section>

    </article>
  </main>
</div>
