<section class="stories-container">
  <div *ngFor="let story of stories" class="story">
    <img [src]="story.avatar" [alt]="story.user" />
    <span>{{ story.user }}</span>
  </div>
</section>

<div class="feed-layout">
<main class="feed">
    <article *ngFor="let post of posts" class="post">
      <header class="post-header">
        <img class="avatar" [src]="post.avatar" [alt]="post.user" />
        <span class="username">
          {{ post.user }}
          <img *ngIf="post.verified" src="assets/instagram-verified-badge.png" alt="Verificado" class="verified-badge" />
        </span>
      </header>

      <img [src]="post.image" class="post-image" [alt]="post.description" />

      <section class="post-actions">
        <i
          class="fa-heart fa-solid like-icon"
          [class.liked]="post.liked"
          (click)="toggleLike(post)"
        ></i>
        <i class="fa-regular fa-comment"></i>
        <i class="fa-regular fa-paper-plane"></i>
        <i class="fa-regular fa-bookmark save-icon"></i>
      </section>

      <section class="post-description">
        <span class="username">
          {{ post.user }}
          <img *ngIf="post.verified" src="assets/instagram-verified-badge.png" alt="Verificado" class="verified-badge" />
        </span>
        {{ post.description }}
      </section>

      <section class="post-comments">
        <div *ngFor="let comment of post.comments" class="comment">
          <span class="comment-username">{{ comment.username }}:</span> {{ comment.text }}
        </div>

        <div class="add-comment">
          <input #commentInput type="text" placeholder="Adicionar um comentário..." />
          <button (click)="addComment(post, commentInput)">Postar</button>
        </div>
      </section>
    </article>
  </main>
