<div class="login-container">
  <div class="login-box">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
      alt="Instagram Logo"
      class="logo"
    />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="Telefone, nome de usuário ou email"
        formControlName="username"
      />
      <input
        type="password"
        placeholder="Senha"
        formControlName="password"
      />
      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>

    <div class="divider">
      <span></span>
      <p>OU</p>
      <span></span>
    </div>

    <p class="forgot-password">Esqueceu a senha?</p>
  </div>
</div>
