.sidebar {
  position: fixed;
  top: 80px; 
  left: 0;
  width: 200px;
  height: calc(100vh - 80px); 
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar svg {
  margin-right: 10px;
  stroke: #262626;
  display: inline-block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #262626;
  margin-bottom: 20px;
  font-weight: 500;
}

.sidebar a.active {
  font-weight: bold;
}
