<nav class="sidebar">
  <a routerLink="/feed" routerLinkActive="active">
    <svg lucide-icon name="home"></svg>
    <span>Página Inicial</span>
  </a>
  <a routerLink="/search" routerLinkActive="active">
    <svg lucide-icon name="search"></svg>
    <span>Buscar</span>
  </a>
  <a routerLink="/explore" routerLinkActive="active">
    <svg lucide-icon name="compass"></svg>
    <span>Explorar</span>
  </a>
  <a routerLink="/reels" routerLinkActive="active">
    <svg lucide-icon name="film"></svg>
    <span>Reels</span>
  </a>
  <a routerLink="/messages" routerLinkActive="active">
    <svg lucide-icon name="send"></svg>
    <span>Mensagens</span>
  </a>
  <a routerLink="/notifications" routerLinkActive="active">
    <svg lucide-icon name="heart"></svg>
    <span>Notificações</span>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <svg lucide-icon name="user"></svg>
    <span>Perfil</span>
  </a>
</nav>
