.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 246px;
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.sidebar-logo {
  width: 110px;
  height: auto;
  margin-bottom: 30px;
  object-fit: contain;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-grow: 1;
}

.sidebar svg {
  margin-right: 10px;
  stroke: #262626;
  display: inline-block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #262626;
  margin-bottom: 20px;
  font-weight: 500;
}

.sidebar a.active {
  font-weight: bold;
}
